@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: #fcfcfc;
    font-family: "Manrope", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/*hr{*/
/*    border:none ;*/
/*    height: 1px;*/
/*    background-color: #a9a9a9;*/
/*}*/


/*=================nav bar======================*/

.sidebar {
border: 1px solid #a9a9a9;
    border-top: none;
    font-size: max(1vw,10px);
}
.sidebar-option{
    border: 1px solid #a9a9a9;
    border-right: none;
    padding: 8px 10px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;

}
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}
/*=================nav bar======================*/

/*========================add====================*/
.flex-coll{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-product-name, .add-product-description{
     width: max(40%,280px);
 }

.add-product-name input, .add-product-description textarea{
    padding: 10px;
    border: 1px solid black;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    border: 1px solid black;
    padding: 10px;
}
/*========================add====================*/

@media (max-width: 900px) {

    .sidebar-option p {
        display: none;
    }

}
